body {
    background-image: url(images/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display : grid;
    grid-template-columns:1fr 1080px;
}
.icones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    text-align: center;
}
.icone_gauche{
    margin-top: 100px;
}
.icone_milieu{
    align-items: center;
}
.icone_droite{
    margin-top: 100px;
}
.silhouette_icone{
    height: 100%;
}
.interface {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.block {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.colonne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}
.nom{
    text-align: left;
}
.stat{
    text-align: right;
}
p{
    font-size: 150%;
    font-family: "Moche";
}
h2{
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: "Elden_Ring";
}
@font-face {
    font-family: "Elden_Ring";
    src: url(Polices/Mantinia-Regular.ttf);
}

 
@font-face {
    font-family: "Moche";
    src: url(Polices/Moche.ttf);
}