body {
    background-image: url(images/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display : grid;
    grid-template-columns:1fr 1080px;
}
.perso{
    display: block;
    position: fixed;
    width: 28.5%;
    height: 100%;
}
.icones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    background-image: url(images/silhouettes-homme-posant-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.icone_gauche{
    background-color: aqua;
}
.icone_milieu{
    background-color: blue;
    align-items: center;
}
.icone_droite{
    background-color: blueviolet;
}
.icone{
    height: 100px;
}
.interface {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.block {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.colonne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}
.nom{
    text-align: left;
}
.stat{
    text-align: right;
}
p{
    font-size: 150%;
    font-family: "Moche";
}
h2{
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: "Elden_Ring";
}
@font-face {
    font-family: "Elden_Ring";
    src: url(Polices/Mantinia-Regular.ttf);
}

 
@font-face {
    font-family: "Moche";
    src: url(Polices/Moche.ttf);
}
.column {
    float: left;
    width: 35%;
    padding: 10%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }