body { /*On change la base de la page en mettant un curseur, et le fond*/
    background-image: url(images/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    cursor: url(Curseur/Eldenring.cur), auto;
}
a { /*On remet le curseur et la couleur des liens*/
    color: #fff; 
    text-decoration: none;
    cursor: url(Curseur/Eldenring.cur), auto;
}
.player-Name{ /*On met en forme le nom du joueur*/
    display: flex;
    justify-content: center;
    text-align: center;
}
.name-form{ /*On met en forme le nom du joueur affiché a droite*/
    display: flex;
    justify-content: center;
    text-align: center;
}
.name_container{ /*Mise en forme du nom du joueur affiché au centre*/
    margin-top: 50px;
    height: 70px;    
    display: flex;
    justify-content: center;
    text-align: center;
}
#empty_nom { /*Mise en forme de l'emplacement du nom du joueur*/
    color: #fff;
    text-decoration: none;
}
#icone_armure { /*Mise en forme de l'emplacement de l'image de l'armure*/
    width: 75px;
    height: 75px;
}
.container { /*Mise en forme des grilles à droite de la page*/
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    display : grid;
    grid-template-columns:1fr 1080px;
}
.floatingWindow { /*Mise en forme de la fenêtre de choix*/
    display: none;
    position: fixed;
    margin-top: 30px;
    right: 30px;
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    background-image: url(images/background/calc_eldenlist_background_elden_ring_wiki_guide.webp);
    background-size: cover;
    z-index: 1001;
}
.floating-stats{ /*Mise en forme de la fenêtre de statistiques*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.floating-image{ /*Mise en forme de l'image "vide" des armures*/
    width: 200px;
}
.floating-stats-table { /*Complément pour celle d'au dessus*/
    margin-left: 20%;
    margin-right: auto;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    text-align: center;
}
button { /*Mise en forme des boutons*/
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: url(Curseur/Eldenring.cur), auto;
}
.close-button { /*Mise en forme des boutons de fermeture*/
    background-color: #ff0000; /* Couleur de fond du bouton (remplacez par la couleur souhaitée) */
    color: #ffffff; /* Couleur du texte du bouton (remplacez par la couleur souhaitée) */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.caché { /*Pour avoir une fenêtre cachée*/
    display: none;
}
.divelements { /*Complément du floating Window*/
    z-index: 1000;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    height: 65%;
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
    background-image: url(images/background/calc_eldenlist_background_elden_ring_wiki_guide.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item-link{ /*Mise en forme du choix des items*/
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-image{ /*Mise en forme de l'image des items*/
    align-items: center;
    height: 125px;
}
.gallery-item{ /*Mise en forme de l'affichage des items*/
    align-items: right;
}
.icones{ /*Mise en forme des icones des items*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    text-align: center;
}
.icone_gauche, /*Mise en forme des icones des items à droite et à gauche*/
.icone_droite{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icone_milieu{ /*Mise en forme des icones de l'item du milieu*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 200px;
}
.silhouette_icone{ /*Mise en forme de l'image du perso*/
    height: 400px;
}
.icone_container_R{
    width: 90px;
    height: 90px;
    background-image: url(images/Icones/empty_slot_calc_elden_ring_wiki_guide.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.icone_container_L{
    width: 90px;
    height: 90px;
    background-image: url(images/Icones/empty_slot_calc_elden_ring_wiki_guide.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.icone_container_armes{
    width: 200px;
    z-index: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone_container{ /*Mise en forme de la grille des icones*/
    width: 95px;
    height: 95px;
    background-image: url(images/Icones/empty_slot_calc_elden_ring_wiki_guide.webp);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone,
#item-image{ /*Encore*/
    width: 75px;
    height: 75px;
}
.icone_grande{ /*Toujours*/
    height: 95px;
    width: auto;
}
.interface { /*Mise en forme de l'interface droite de la page*/
    margin-left: 25%;
    max-width: fit-content;
    font-size: 20px;
    line-height: 0.4;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: max-content;
}
.block { /*Mise en forme des blocks avec les stats*/
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.colonne{ /*Un block est contitué d'une ou plusieurs colonnes*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}
.personnage{ /*Mise en forme du personnage*/
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 0.4;
}
.item-name{ /*Mise en forme du nom de l'item avec une police différentes*/
    text-align: center;
    font-family: "Meteoric-Bold";
}
.nom{
    text-align: left;
}
.stat{
    text-align: right;
}
p{
    font-family: "Moche";
}
td{ /*Mise en forme du nom des items quand on choisit*/
    padding: 5px;
    text-align: center;
    font-family: "Moche";
    line-height: 0.55;
}
h2{ /*Mise en forme des titres*/
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: "Elden_Ring";
}
#armesL{
    margin-right: 10%;
}
#armesR{
    margin-left: 10%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.searchbar{ /*Mise en forme de la barre de recherche*/
    margin-top: 10px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: url(Curseur/Eldenring.cur), auto;
}
input[type="text"]{ /*Mise en forme du champ de recherche*/
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px;
    cursor: url(Curseur/Text.cur), auto;
    text-align: center;
}

@font-face { /*On ajoute la police Elden ring*/
    font-family: "Elden_Ring";
    src: url(Polices/Mantinia-Regular.ttf);
} 
@font-face { /*On ajoute la police Moche (qui vient du jeu God of War)*/
    font-family: "Moche";
    src: url(Polices/Moche.ttf);
}
@font-face { /*On ajoute la police Meteoric Bold trouvée sur internet*/
    font-family: "Meteoric-Bold";
    src: url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.eot");
    src: url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/82a1a6e5316d84f1b8e2fa22a97e1211.svg#Meteoric-Bold")format("svg");
}
@media screen and (max-width: 1300px) { /*Mise en page mobile (responsive) */
    .container {
        grid-template-columns: 1fr;
        
    }
    input[type="text"]{ 
        width: 100px;
    }
    h2{
        font-size: 110%;
    }
    .interface{
        font-size: 13px;
        line-height: 0.6;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .personnage{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .divelements{
        grid-template-columns: 1fr  1fr;
        width: 60%;
    }
    .floatingWindow{
        width: 140px;
        right: 0;
        top: 0;
    }
    th{
        text-align: left;}
    td{
        text-align: left;
    }
    #divcasque{
        margin-left: 10px;
    }
}
